// @import '../../node_modules/reset-css';

* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: var(--light-color);


  .main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 500px;
    border-radius: 39px;
    box-shadow: inset 2px 2px 10px #31363841, inset -2px -2px 10px #e8e9eb2a;

    form{
      margin: 40px 0 20px;
      display: flex;

      *{
        padding: 20px 50px;
        font-size: 15px;
        border: none;
        color: #313638;
        font-size: 1.2rem;
      }
      input {
        height: 4rem;
        padding-left: 20px;
        box-shadow: inset 2px 2px 10px #31363841,
          inset -2px -2px 10px  #e8e9eb2a;
        background: #e8e9eb2a;
        border-radius: 10px;
        margin-right: 10px;

        &:focus {
          outline: 1px solid #b9c3c2;
        }

        &::placeholder {
          opacity: .7;
        }
      }

      button{
        border-radius: 18px;
        box-shadow: inset 2px 2px 10px #31363841,
          inset -2px -2px 10px  #e8e9eb2a;
        background: #e8e9eb2a;
        cursor: pointer;

        &:hover {
          filter: brightness(1.05);
        }
      }
    }
    
    .myTask{
      width: 100%;
      padding: 0 40px;
      font-weight: inherit;
      
      .completo {
        display: flex;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: inset 2px 2px 10px #31363841,
          inset 2px 2px 10px #e8e9eb2a;
        text-decoration: line-through;
      }

      .task{
        display: flex;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #31363841,
          2px 2px 16px #e8e9eb2a;
        }

        label{
          display: flex;
          flex: 1;
          cursor: pointer;

          &.checked {
            text-decoration: line-through;
          }

          input{
            margin: 0 15px;
            cursor: pointer;
          }

          h2 {
            text-shadow: 2px 2px 3px #31363841;
            font-size: 18px;
            font-weight: 400;
          }
        }

        button{
          border: none;
          background: transparent;
          cursor: pointer;
          
          img{
            width: 35px;
            transition: scale .5s;

            &:hover {
              scale: 1.2;
            }
          }
      }
    }
  }
}